name: Build Image

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build image
      run: |
        docker build . -t ghcr.io/signal24/kubectl:latest

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Push image
      run: |
        docker push ghcr.io/signal24/kubectl:latest